Question 1

In [4]:

import mysql.connector

print(" MySQL Connector is Installed Successfully in your system environment")

 MySQL Connector is Installed Successfully in your system environment

In [ ]:

print("Please Replace my password (abhishek7467kumar) with your")

Question 2

In [5]:
# Connect with schema sakila through python MySQL Connector
testdb=mysql.connector.connect(host="localhost",user="root",password="abhishek7467kumar")
testcursor=testdb.cursor()
testcursor.execute("SHOW DATABASES")
for x in testcursor:
    print(x)

testdb=mysql.connector.connect(host="localhost",user="root",password="abhishek7467kumar",database="sakila")
testcursor=testdb.cursor()
print(" \n \t \t \t \t************  \n Connected successfully with schema sakila through python MySQL Connector \n \t \t \t \t************ ")

("b'mydata'",)
('employees',)
('information_schema',)
('mydata',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('world',)

 	 	 	 	************
 Connected successfully with schema sakila through python MySQL Connector
 	 	 	 	************

Question 3

In [6]:
# Run describe command for table language and rental through python code


testdb=mysql.connector.connect(host="localhost",user="root",password="abhishek7467kumar",database="sakila")
testcursor=testdb.cursor()
testcursor.execute("desc language")
print("\n \n describe for table language  through python code  \n ")
for d in testcursor:
    print(d)
 



testcursor.execute("desc rental")
print("\n \n describe for table rental  through python code  \n ")
for d in testcursor:
    print(d)

 describe for table language  through python code

('language_id', b'tinyint unsigned', 'NO', 'PRI', None, 'auto_increment')
('name', b'char(20)', 'NO', '', None, '')
('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')


 describe for table rental  through python code

('rental_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('rental_date', b'datetime', 'NO', 'MUL', None, '')
('inventory_id', b'mediumint unsigned', 'NO', 'MUL', None, '')
('customer_id', b'smallint unsigned', 'NO', 'MUL', None, '')
('return_date', b'datetime', 'YES', '', None, '')
('staff_id', b'tinyint unsigned', 'NO', 'MUL', None, '')
('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')

Question 4

In [ ]:
# Write code to display result set from three tables store, inventory and film_text using inner join through python.

testdb=mysql.connector.connect(host="localhost",user="root",password="abhishek7467kumar",database="sakila")
testcursor=testdb.cursor()

testcursor.execute("SELECT ST.store_id , ST.manager_staff_id , ST.address_id, IV.inventory_id ,IV.film_id,FT.title from store ST inner join inventory IV on ST.store_id=IV.store_id inner join film_text FT on IV.film_id=FT.film_id order by store_id desc")

a=testcursor.fetchall()
for i in a:
    print(a)