In [14]:
import mysql.connector

In [15]:
testdb = mysql.connector.connect( host = "localhost", 
user ="root",
password="abhishek7467kumar")

In [16]:
print("Name of Databases preasent in my database")
testcursor = testdb.cursor()
testcursor.execute("SHOW DATABASES")
for x in testcursor:
    print(x)

Name of Databases preasent in my database
("b'mydata'",)
('employees',)
('information_schema',)
('mydata',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('world',)

In [17]:
testcursor.execute("CREATE DATABASE IF NOT EXISTS  test ")
testcursor.execute("SHOW DATABASES")
for x in testcursor:
    print(x)

("b'mydata'",)
('employees',)
('information_schema',)
('mydata',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('world',)

In [18]:
testdb = mysql.connector.connect( host = "localhost", 
user ="root",
password="abhishek7467kumar",
database="test")

In [19]:
testdb = mysql.connector.connect( host = "localhost", 
user ="root",
password="abhishek7467kumar",
database="test")
testcursor=testdb.cursor() 
testcursor.execute("CREATE TABLE IF NOT EXISTS myalumni (roll_no int not null,first_name varchar(30), last_name varchar(30), status varchar(50), location varchar(100) )" )

In [20]:

testcursor.execute("SHOW Tables")
for t in testcursor:
    print(t)

('myalumni',)

In [21]:
testcursor.execute("ALTER TABLE myalumni ADD COLUMN test_id int not null primary key ")

ProgrammingError: 1060 (42S21): Duplicate column name 'test_id'

In [ ]:
testdb = mysql.connector.connect( host = "localhost", 
user ="root",
password="abhishek7467kumar",
database="test")

testcursor = testdb.cursor()
testcursor.execute("DESC  myalumni")
for a in testcursor:
    print(a)

('roll_no', b'int', 'NO', '', None, '')
('first_name', b'varchar(30)', 'YES', '', None, '')
('last_name', b'varchar(30)', 'YES', '', None, '')
('status', b'varchar(50)', 'YES', '', None, '')
('location', b'varchar(100)', 'YES', '', None, '')
('test_id', b'int', 'NO', 'PRI', None, '')

In [ ]:
testdb = mysql.connector.connect( host = "localhost", 
user ="root",
password="abhishek7467kumar",
database="test")

testcursor = testdb.cursor()

testcursor.execute("SELECT * FROM myalumni")
for a in testcursor:
    print(a)

(120, 'Abhi', 'Kumar', 'Teacher', 'Bareilly', 1)
(121, 'Jhon', 'Anthony', 'Self Employed', 'Noida', 12)
(122, 'Ridhi', 'Jaiswal', 'Self Emp', 'barabanki', 34)
(126, 'Kanchan', 'Kumari', 'Teacher', 'Bly', 51)
(124, 'Ankit', 'Kumar', 'Job', 'Lucknow', 54)
(128, 'Yogesh', 'Bharti', 'Teacher', 'Sahajanpur', 76)

In [ ]:
a="insert into myalumni (roll_no, first_name, last_name,status, location,test_id) values(%s , %s,%s,%s,%s,%s)"

b= (121,"Jhon","Anthony","Self Employed","Noida",12 )
testcursor.execute(a,b)

IntegrityError: 1062 (23000): Duplicate entry '12' for key 'myalumni.PRIMARY'

In [ ]:
testdb.commit()

print("Data is inserted successfully into database")

Data is inserted successfully into database

In [ ]:

testcursor.execute("SELECT * FROM myalumni")
for a in testcursor:
    print(a)

(121, 'Jhon', 'Anthony', 'Self Employed', 'Noida', 12)

In [ ]:

# c=[
#     (120,"Abhi","Kumar","Teacher","Bareilly",1),
#     (122,"Ridhi","Jaiswal","Self Emp","barabanki",34),
#     (124,"Ankit","Kumar","Job","Lucknow",54),
#     (126,"Kanchan","Kumari","Teacher","Bly",51),
#     (128,"Yogesh","Bharti","Teacher","Sahajanpur",76)
#     ]

c=    (122,"Ridhi","Jaiswal","Self Emp","barabanki",34)
testcursor.execute(a,c)
testdb.commit()
print("Data is inserted successfully into database")

In [ ]:
testcursor.execute("SELECT * FROM myalumni")
a=testcursor.fetchall()

for b in a:
    print(b)

(120, 'Abhi', 'Kumar', 'Teacher', 'Bareilly', 1)
(121, 'Jhon', 'Anthony', 'Self Employed', 'Noida', 12)
(122, 'Ridhi', 'Jaiswal', 'Self Emp', 'barabanki', 34)
(126, 'Kanchan', 'Kumari', 'Teacher', 'Bly', 51)
(124, 'Ankit', 'Kumar', 'Job', 'Lucknow', 54)
(128, 'Yogesh', 'Bharti', 'Teacher', 'Sahajanpur', 76)

In [ ]:
print("The type of b")
type(b)

The type of b

tuple

In [ ]:
l1=[10,20,30,40]
l2=[50,60,70,80]

In [ ]:
import statistics as st

In [ ]:
y=st.mean(l1)
y

25

In [ ]:
y=st.mode(l1)
y

10

In [ ]:
y=st.median(l1)
y

25.0

In [ ]:
type (y)

float

In [24]:
import mysql.connector
testdb = mysql.connector.connect(host="localhost",user = "root",
password="abhishek7467kumar",
database="test")
a= testcursor.fetchone()
for b in a:
    print(b)

TypeError: 'NoneType' object is not iterable

In [29]:
import mysql.connector
testdb = mysql.connector.connect(
host="localhost",
user = "root",
password="abhishek7467kumar",
database="test")
testcursor.execute("select * from myalumni")
a= testcursor.fetchall()
for b in a:
    print(b)

(120, 'Abhi', 'Kumar', 'Teacher', 'Bareilly', 1)
(121, 'Jhon', 'Anthony', 'Self Employed', 'Noida', 12)
(122, 'Ridhi', 'Jaiswal', 'Self Emp', 'barabanki', 34)
(126, 'Kanchan', 'Kumari', 'Teacher', 'Bly', 51)
(124, 'Ankit', 'Kumar', 'Job', 'Lucknow', 54)
(128, 'Yogesh', 'Bharti', 'Teacher', 'Sahajanpur', 76)

In [30]:
a1="DELETE FROM myalumni where  test_id=%s"
b1=("1")
testcursor.execute(a1,b1)

testdb.commit()

ProgrammingError: Could not process parameters: str(1), it must be of type list, tuple or dict

In [34]:
import statistics as st
testcursor.execute("SELECT first_name from myalumni")
c=testcursor.fetchall()
store=[]
for b in c:
    store.append(a)
    print(b)

('Abhi',)
('Jhon',)
('Ridhi',)
('Kanchan',)
('Ankit',)
('Yogesh',)